body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/bg.jpg");
    background-size: cover;
    font-weight: bold;
    text-align: center;
    color: white;
}

h1 {
    color: goldenrod;
    margin-top: 10px;
    margin-bottom: 10px;
}


#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}
